h1{
    font-family: Andale Mono, monospace;
    text-align: center;

}
h2{
    font-family: Andale Mono, monospace;


}
p{
    font-family: Arial, sans-serif;
}
div{
    margin-left: 100px;

}